@model AccountManagement.Application.Contracts.Account.ChangePassword;

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">تغییر رمز عبور</h5>
            </div>
            <div id="modal-body" class="modal-body">
                <form class="form-group" method="post" asp-page="./Index" asp-page-handler="ChangePassword"
                      data-ajax="true"
                      data-action="refresh">
                    <div class="row">

                        <div class="col-md-6">
                            <label class="control-label" asp-for="@Model.Password">رمز عبور</label>
                            <input class="form-control" asp-for="@Model.Password" type="password" />
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label class="control-label" asp-for="@Model.RepeatedPassword">تکرار رمز عبور</label>
                            <input class="form-control" asp-for="@Model.RepeatedPassword" type="password" />
                            <span asp-validation-for="@Model.RepeatedPassword" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-primary">ثبت</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
