@page
@model ServiceHost.Areas.Administration.Pages.Blog.ArticleCategories.IndexModel;
@{
    ViewData["Title"] = "دسته بندی های مقالات";
}
<link rel="stylesheet" href="~/AdminTheme/assets/datatables/jquery.dataTables.min.css" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">جستجو در دسته بندی های مقالات</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="get">
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Name"></label>
                        <input class="form-control" value="@Model.SearchModel.Name" name="Name" placeholder="دسته بندی مقاله">
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
            <a class=" btn btn-success" href='#showmodal=@Url.Page("./Index","Create")'><i class="fa fa-plus"></i>&nbsp; ایجاد</a>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped" id="datatable">
            <thead>
                <tr>
                    <th>شناسه</th>
                    <th>نام</th>
                    <th>متن</th>
                    <th>عکس</th>
                    <th>تاریخ ایجاد</th>
                    <th>ترتیب نمایش</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td><img style="max-width:250px;" src="~/Uploads/Blog/ArticleCategory/@item.Picture" /></td>
                        <td>@item.CreationDateTime</td>
                        <td>@item.ShowOrder</td>
                        <td class="align-content-center">
                            <a class="btn tbn-sm btn-warning" href='#showmodal=@Url.Page("./Index","Edit",new {id = item.Id })'>ویرایش</a>
                            <a class="btn tbn-sm btn-danger" href="#">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div id="modal-wrapper">

</div>
@section Scripts
{
    <script src="~/AdminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/datatables/dataTables.bootstrap.js"></script>
    <script src="~/AdminTheme/assets/datatables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $("#datatable").DataTable();
        });
    </script>
}