@model ShopManagement.Application.Contracts.ProductPictureAgg.EditProductPicture;
<form class="form-group" method="post" asp-page="./Index" asp-page-handler="Edit"
      data-ajax="true"
      data-action="refresh">
    <div class="row">

        <div class="col-md-5">

            <label class="control-label" asp-for="@Model.Picture">Picture:</label>
            <input class="form-control disabled" asp-for="@Model.Picture" type="text" />
            <span asp-validation-for="@Model.Picture" class="text-muted text-danger"></span>
        </div>

    </div>
    <div class="col-md-10">

        <label class="control-label" asp-for="@Model.ProductId">Products:</label>
        <select class="form-control" asp-for="@Model.ProductId" asp-items="@new SelectList(Model.Products)" type="text">
        <option value="0">Select a product</option>
        </select>
        <span asp-validation-for="@Model.ProductId" class="text-muted text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-5">

            <label class="control-label" asp-for="@Model.PictureAlt">Picture Alt:</label>
            <input class="form-control" asp-for="@Model.PictureAlt" type="text" />
            <span asp-validation-for="@Model.PictureAlt" class="text-muted text-danger"></span>
        </div>
        <div class="col-md-5">
            <label class="control-label" asp-for="@Model.PictureTitle">Picture Title:</label>
            <input class="form-control" asp-for="@Model.PictureTitle" type="text" />
            <span asp-validation-for="@Model.PictureTitle" class="text-muted text-danger"></span>
        </div>
    </div>

    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>